<header class="row">
  <div class="large-12 columns">
    <h1><%= bill.month.strftime('%B %Y') %></h1>
  </div>
</header>

<section class="row">
  <div class="large-12 columns">
    <h2>Orders</h2>
  </div>
</section>

<div class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <tr>
        <th>Order no.</th>
        <th>Patient no.</th>
        <th>Patient name</th>
        <th>Subtotal</th>
      </tr>
    <% if bill.orders %>
      <% bill.orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.patient_no %></td>
          <td><%= order.patient_name %></td>
          <td><%= order.total %></td>
        </tr>
      <% end -%>
    <% end -%>
    </table>    
  </div>
</div>
