<header class="row">
  <div class="large-12 columns">
    <h1><%= t(:bio_practices).titleize %></h1>
    <%= link_to t(:create).titleize, new_admin_bio_practice_path, class:'button' %>
  </div>
</header>

<section class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <tr>
        <th><%= t(:practice_no).humanize %></th>
        <th><%= t(:name).titleize %></th>
        <th>UB</th>
        <th></th>
      </tr>
    <% if bio_practices %>
      <% bio_practices.each do |bio_practice| %>
        <tr>
          <td><%= bio_practice.id %></td>
          <td><%= bio_practice.name %></td>
          <td><%= bio_practice.ub %></td>
          <td>
            <%= link_to t(:edit),edit_admin_bio_practice_path(bio_practice) %>
            <%= link_to t(:delete), admin_bio_practice_path(bio_practice), method: :delete %>
          </td>
        </tr>
      <% end -%>
    <% end -%>
    </table>
  </div>
</section>
