<header class="row">
  <div class="large-12 columns">
    <h1>Bio Practices</h1>
    <%= link_to 'Create', new_admin_bio_practice_path, class:'button' %>
  </div>
</header>

<section class="row">
  <div class="large-12 columns">
    <table class="large-12">
      <tr>
        <th>Bio Pratice no.</th>
        <th>Name</th>
        <th>UB</th>
        <th></th>
      </tr>
    <% if bio_practices %>
      <% bio_practices.each do |bio_practice| %>
        <tr>
          <td><%= bio_practice.id %></td>
          <td><%= bio_practice.name %></td>
          <td><%= bio_practice.ub %></td>
          <td>
            <%= link_to edit_admin_bio_practice_path(bio_practice),
                        class:'button tiny split' do %>
              Edit <span data-dropdown="drop"></span>
            <% end -%>
            <br>
            <ul id="drop" class="f-dropdown" data-dropdown-content>
              <li><%= link_to 'Delete', admin_bio_practice_path(bio_practice), method: :delete %>
              </li>
            </ul>
          </td>
        </tr>
      <% end -%>
    <% end -%>
    </table>
  </div>
</section>
