<%= form_for order, url:(order.id)? admin_bill_order_path(id:order.id) : admin_bill_orders_path do |f| %>
  <%= render 'shared/error_messages', model:order %>

  <div class="row">
    <div class="large-12 columns">
      <fieldset>
        <legend>Order data</legend>
        <div class="row">
          <div class="small-2 columns">
            <%= f.label :id, 'Order no.', class:'right inline' %>
          </div>
          <div class="small-10 columns">
            <%= f.text_field :id %>
          </div>
        </div>
        <div class="row">
          <div class="small-2 columns">
            <%= f.label :patient_no, 'Patient no.', class:'right inline' %>
          </div>
          <div class="small-10 columns">
            <%= f.text_field :patient_no %>
          </div>
        </div>
        
        <div class="row">
          <div class="small-2 columns">
            <%= f.label :patient_name, class:'right inline' %>
          </div>
          <div class="small-10 columns">
            <%= f.text_field :patient_name %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <fieldset id="order_lines_fieldset" >
        <legend>Bio Practices</legend>
        <%= f.fields_for :order_lines, order_lines do |fol| %>
          <%= render 'order_line_form', f: fol %> <br>
        <% end %>
      </fieldset>
    </div>
    <div class="large-12 columns">
      <%= link_to 'Add Bio Practice',
                  '#order_lines_fieldset',
                  id: 'add_item', class:'button' %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit (order.id)? 'Edit' : 'Create', class:'button success' %>
      <%= link_to 'Back', admin_bill_orders_path, class:'button' %>
    </div>
  </div>

  <%= render 'order_line_template' %>
<% end -%>
