<header>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to t(:biochemical_invoice), root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <% if current_admin %>
      <ul class="left">
        <li class="<%= is_active_menu('bills') %>"><%= link_to t(:bills).humanize, admin_bills_path %></li>
        <li class="<%= is_active_menu('bio_practices') %>"><%= link_to t(:bio_practices).humanize, admin_bio_practices_path %></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to t(:sign_out),
                destroy_admin_session_path, method: :delete %></li>
      </ul>
      <% end -%>
    </section>
  </nav>
</header>
