<div class="row">
  <div class="large-3 large-offset-4 columns">
    <h1><%= t :sign_in %></h1>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="large-3 large-offset-4 columns">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 large-offset-4 columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 large-offset-4 columns">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label t(:remember_me) %>
      <% end -%>
    </div>
  </div>  

  <div class="row">
    <div class="large-3 large-offset-4 columns">
      <%= f.submit t(:sign_in_btn), class:'button' %>
    </div>
  </div>
<% end %>
